{% extends 'myapp/base.html' %} {% block content %}

<!-- REVOLUTION SLIDER================================================== -->
<div class="rev_slider_wrapper fullscreen custom-controls custom-paragraph">
  <div
    id="rev_slider_2"
    class="rev_slider fullscreenbanner"
    style="display: none"
    data-version="5.4.5"
  >
    <ul>
      <li data-transition="parallaxtoright">
        <!-- overlay -->
        <div class="opacity-extra-medium bg-black z-index-1"></div>

        <img
          src="https://fabrex.websitelayout.net/img/slider/slide1.jpg"
          alt="slide1"
          class="rev-slidebg"
        />

        <!-- layer 1 -->
        <div
          class="tp-caption tp-resizeme max-style alt-font"
          id="slide-1-layer-1"
          data-x="['left','left','center','center']"
          data-y="['middle','middle','middle','middle']"
          data-hoffset="['40','40','0','0']"
          data-voffset="['-100','-100','-100','-120']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-transform_idle="o:1;"
          data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
          data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
          data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
          data-start="1000"
          data-splitin="chars"
          data-splitout="none"
          data-responsive_offset="on"
          data-elementdelay="0.05"
          style="
            z-index: 5;
            white-space: nowrap;
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;
          "
        >
          Be <span>inspired</span> by Best
        </div>
        <!-- end layer 1 -->

        <!-- layer nr. 2 -->
        <div
          class="tp-caption tp-resizeme slider-text"
          id="slide-1-layer-2"
          data-x="['left','left','center','center']"
          data-y="['middle','middle','middle','middle']"
          data-hoffset="['45','45','0','0']"
          data-voffset="['-20','-20','-20','-40']"
          data-fontsize="['18','20','20','20']"
          data-lineheight="['30','30','28','28']"
          data-width="none"
          data-height="none"
          data-transform_idle="o:1;"
          data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
          data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
          data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
          data-start="2500"
          data-splitin="none"
          data-splitout="none"
          data-responsive_offset="on"
          style="
            z-index: 5;
            white-space: nowrap;
            color: #fff;
            line-height: 22px;
          "
        >
          <p class="white-space px-3 px-md-0">
            Exhaustive technology of implementing Multipurpose projects is
            putting your project successful.
          </p>
        </div>
        <!-- layer nr. 3 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-1-layer-3"
          data-x="['left','left','center','center']"
          data-y="['middle','middle','middle','middle']"
          data-hoffset="['40','40','0','0']"
          data-voffset="['65','65','65','65']"
          data-fontsize="['14','14','14','14']"
          data-lineheight="['24','24','24','24']"
          data-width="none"
          data-height="none"
          data-transform_idle="o:1;"
          data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
          data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
          data-start="2800"
          data-splitin="none"
          data-splitout="none"
          data-responsive_offset="on"
          style="z-index: 5; white-space: nowrap; line-height: 22px"
        >
          <a href="#!" class="butn primary"><span>Buy Template</span></a>
        </div>
      </li>
      <li data-transition="parallaxtoright">
        <!-- overlay -->
        <div class="opacity-extra-medium bg-black z-index-1"></div>

        <img
          src="https://fabrex.websitelayout.net/img/slider/slide3.jpg"
          alt="slide2"
          class="rev-slidebg"
        />
        <!-- layer 1 -->
        <div
          class="tp-caption tp-resizeme max-style alt-font"
          id="slide-2-layer-1"
          data-x="['center','center','center','center']"
          data-y="['middle','middle','middle','middle']"
          data-hoffset="['0','0','0','0']"
          data-voffset="['-100','-100','-100','-120']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-transform_idle="o:1;"
          data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
          data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
          data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
          data-start="1000"
          data-splitin="chars"
          data-splitout="none"
          data-responsive_offset="on"
          data-elementdelay="0.05"
          style="
            z-index: 5;
            white-space: nowrap;
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;
          "
        >
          We <span>Think</span> different
        </div>
        <!-- end layer 1 -->

        <!-- layer nr. 2 -->
        <div
          class="tp-caption tp-resizeme slider-text"
          id="slide-2-layer-2"
          data-x="['center','center','center','center']"
          data-y="['middle','middle','middle','middle']"
          data-hoffset="['0','0','0','0']"
          data-voffset="['-20','-20','-20','-40']"
          data-fontsize="['18','20','20','20']"
          data-lineheight="['30','30','28','28']"
          data-width="none"
          data-height="none"
          data-transform_idle="o:1;"
          data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
          data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
          data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
          data-start="2500"
          data-splitin="none"
          data-splitout="none"
          data-responsive_offset="on"
          style="
            z-index: 5;
            white-space: nowrap;
            color: #fff;
            text-align: center;
          "
        >
          <p class="white-space text-center px-3 px-md-0">
            Exhaustive technology of implementing Multipurpose projects is
            putting your project successful.
          </p>
        </div>
        <!-- layer nr. 3 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-2-layer-3"
          data-x="['center','center','center','center']"
          data-y="['middle','middle','middle','middle']"
          data-hoffset="['0','0','0','0']"
          data-voffset="['65','65','65','65']"
          data-fontsize="['18','18','14','14']"
          data-lineheight="['26','26','22','22']"
          data-width="none"
          data-height="none"
          data-transform_idle="o:1;"
          data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
          data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
          data-start="2800"
          data-splitin="none"
          data-splitout="none"
          data-responsive_offset="on"
          style="z-index: 5; white-space: nowrap; line-height: 22px"
        >
          <a href="#!" class="butn primary"><span>Buy Template</span></a>
        </div>
      </li>
      <li data-transition="parallaxtoright">
        <!-- overlay -->
        <div class="opacity-extra-medium bg-black z-index-1"></div>

        <img
          src="https://fabrex.websitelayout.net/img/slider/slide7.jpg"
          alt="slide3"
          class="rev-slidebg"
        />

        <!-- layer 1 -->
        <div
          class="tp-caption tp-resizeme max-style alt-font"
          id="slide-3-layer-1"
          data-x="['right','right','center','center']"
          data-y="['middle','middle','middle','middle']"
          data-hoffset="['40','40','0','0']"
          data-voffset="['-100','-100','-100','-120']"
          data-width="none"
          data-height="none"
          data-whitespace="nowrap"
          data-transform_idle="o:1;"
          data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
          data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
          data-mask_in="x:[100%];y:0;s:inherit;e:inherit;"
          data-start="1000"
          data-splitin="chars"
          data-splitout="none"
          data-responsive_offset="on"
          data-elementdelay="0.05"
          style="
            z-index: 5;
            white-space: nowrap;
            color: #fff;
            font-weight: 700;
            text-transform: uppercase;
          "
        >
          We Build <span>Solution</span>
        </div>
        <!-- end layer 1 -->

        <!-- layer nr. 2 -->
        <div
          class="tp-caption tp-resizeme slider-text"
          id="slide-3-layer-2"
          data-x="['right','right','center','center']"
          data-y="['middle','middle','middle','middle']"
          data-hoffset="['45','45','0','0']"
          data-voffset="['-20','-20','-20','-40']"
          data-fontsize="['18','20','20','20']"
          data-lineheight="['30','30','28','28']"
          data-width="none"
          data-height="none"
          data-transform_idle="o:1;"
          data-transform_in="x:[175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
          data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
          data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
          data-start="2500"
          data-splitin="none"
          data-splitout="none"
          data-responsive_offset="on"
          style="
            z-index: 5;
            white-space: nowrap;
            color: #fff;
            line-height: 22px;
            text-align: right;
          "
        >
          <p class="white-space text-end px-3 px-md-0">
            Exhaustive technology of implementing Multipurpose projects is
            putting your project successful.
          </p>
        </div>
        <!-- layer nr. 3 -->
        <div
          class="tp-caption tp-resizeme"
          id="slide-3-layer-3"
          data-x="['right','right','center','center']"
          data-y="['middle','middle','middle','middle']"
          data-hoffset="['40','40','0','0']"
          data-voffset="['65','65','65','65']"
          data-fontsize="['18','18','14','14']"
          data-lineheight="['26','26','22','22']"
          data-width="none"
          data-height="none"
          data-transform_idle="o:1;"
          data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
          data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
          data-start="2800"
          data-splitin="none"
          data-splitout="none"
          data-responsive_offset="on"
          style="z-index: 5; white-space: nowrap; line-height: 22px"
        >
          <a href="#!" class="butn primary"><span>Buy Template</span></a>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- SERVICES================================================== -->
<section class="md">
  <div class="container">
    <div class="text-center section-heading">
      <h2>Our Services</h2>
      <p class="w-95 w-md-75 w-lg-55">
        Business consectetur adipisicing elit eiusmod tempor incididunt ut
        labore et dolore magna aliqua quis nostrud exercitation consequat.
      </p>
    </div>
    <div class="row mt-n1-9">
      <div class="services-block-two col-lg-4 col-md-6 mt-1-9">
        <div class="inner-box">
          <div class="icon-box">
            <span class="ti-ruler-pencil"></span>
          </div>
          <h2>01</h2>
          <h3><a href="#!">Content Marketing</a></h3>
          <p>
            We help you to grow up your business and solution for your
            impressive projects.
          </p>
        </div>
      </div>
      <div class="services-block-two col-lg-4 col-md-6 mt-1-9">
        <div class="inner-box">
          <div class="icon-box">
            <span class="ti-world"></span>
          </div>
          <h2>02</h2>
          <h3><a href="#!">Finance Analysis</a></h3>
          <p>
            We help you to grow up your business and solution for your
            impressive projects.
          </p>
        </div>
      </div>
      <div class="services-block-two col-lg-4 col-md-6 mt-1-9">
        <div class="inner-box active">
          <div class="icon-box">
            <span class="ti-layout"></span>
          </div>
          <h2>03</h2>
          <h3><a href="#!">Detail Report</a></h3>
          <p>
            We help you to grow up your business and solution for your
            impressive projects.
          </p>
        </div>
      </div>
      <div class="services-block-two col-lg-4 col-md-6 mt-1-9">
        <div class="inner-box">
          <div class="icon-box">
            <span class="ti-layers-alt"></span>
          </div>
          <h2>04</h2>
          <h3><a href="#!">Investment Plan</a></h3>
          <p>
            We help you to grow up your business and solution for your
            impressive projects.
          </p>
        </div>
      </div>
      <div class="services-block-two col-lg-4 col-md-6 mt-1-9">
        <div class="inner-box">
          <div class="icon-box">
            <span class="ti-desktop"></span>
          </div>
          <h2>05</h2>
          <h3><a href="#!">Media Marketing</a></h3>
          <p>
            We help you to grow up your business and solution for your
            impressive projects.
          </p>
        </div>
      </div>
      <div class="services-block-two col-lg-4 col-md-6 mt-1-9">
        <div class="inner-box">
          <div class="icon-box">
            <span class="ti-package"></span>
          </div>
          <h2>06</h2>
          <h3><a href="#!">Finance Analysis</a></h3>
          <p>
            We help you to grow up your business and solution for your
            impressive projects.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
